<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" href="style.css" />
<meta name="description" content="odeint, C++ library for numerically solving differential equations" />
<meta name="keywords" content="odeint, c++, library, integrate, differential equation, template, metaprogramming, google summer of code, cuda, thrust" />
<meta name="author" content="Karsten Ahnert & Mario Mulansky" />
<link rel="icon" type="image/png" href="img/icon.ico" />
<title>odeint</title>
</head>


<body>

    <nav>
   <ul>
		<li id="logomenu"><a href="index.html" ><img alt="logo odeint" src="img/logomenu.jpg" /></a></li>
          <li><a href="index.html" >Home</a></li>
		<li><a href="performance.html" >Performance</a></li>
		<li><a href="examples.html" >Examples</a></li>
		<!--<li><a href="/odeint-v2/blog.html" >Blog</a></li>-->
		<li><a href="highlights.html" >Highlights</a></li>
		<li><a href="downloads.html" >Downloads</a></li>
		<li><a href="resources.html" >Resources</a></li>
		<li><a href="http://headmyshoulder.github.com/odeint-v2/doc/index.html"
                       target="_blank">Doc</a></li>
        <li><a href="feedback.html" >Feedback</a></li>
        <li><a href="https://travis-ci.org/headmyshoulder/odeint-v2" ><img src="https://travis-ci.org/headmyshoulder/odeint-v2.svg?branch=master" /></a></li>
    </ul>
	</nav>
 

{{ content }}


<footer>
	<table><tr>
	<td>
       <img alt="mail Karsten Ahnert" src="img/mail-karsten.jpg" />
      </td>
      <td>
      	Copyright © 2009-2012 <br />
        Logo : <a href="http://www.jung-design.net" target="_blank">Ulrike Jung</a> <br />
        Website : <a href="http://www.dianechaudouet.com" target="_blank">Diane Chaudouet</a>
      </td>  
      <td>
        <img alt="mail Mario Mulansky" src="img/mail-mario.jpg" />
</td></tr></table> 
</footer>
</body>
</html>
